<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="vk-geocoder">
    <style></style>
    <template>
        <iron-ajax
            id="geocoder"
            handle-as="json"
            on-response="_handleResponse"
            debounce-duration="300"
            content-type="application/json; charset=utf-8"
            method="GET",
        </iron-ajax>
    </template>
</dom-module>

<script type="text/javascript">
    Polymer({
        is: 'vk-geocoder',
        properties: {
            /**
            * phrase broadcasts the current active phrase.
            *
            * @property phrase
            * @type String
            * @default ""
            */
            geoSearchTerm: {
                type: String,
                value: "",
                observer: '_geoSearchTermChanged',
                notify: true,
                reflectToAttribute: true
            },
            computedLatLon: {
                type: Array,
                notify: true,
                reflectToAttribute: true
            },
        },

        ready: function() {
        },
        _geoSearchTermChanged: function(newSearchterm, oldSearchterm) {
            if (newSearchterm) {
                params = {
                    'api_key': "mapzen-rqEDCPe",
                    'text': newSearchterm,
                    'size': 1,
                    'boundary.country': 'US'
                }
                this.$.geocoder.url = "http://search.mapzen.com/v1/search";
                this.$.geocoder.params = params;
                this.$.geocoder.generateRequest();
            }
         },
        _handleResponse: function(request) {
           response = this.$.geocoder.lastResponse;
           this.computedLatLon = response.features[0].geometry.coordinates;
        }
    });
</script>
