<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="vk-geocoder">
    <style></style>
    <template>
        <iron-ajax
            id="geocoder"
            handle-as="json"
            on-response="_handleResponse"
            debounce-duration="300"
            content-type="application/json; charset=utf-8"
            method="GET",
        </iron-ajax>
    </template>
</dom-module>

<script type="text/javascript">
    Polymer({
        is: 'vk-geocoder',
        properties: {
            /**
            * phrase broadcasts the current active phrase.
            *
            * @property phrase
            * @type String
            * @default ""
            */
            geoSearchTerm: {
                type: String,
                value: "",
                observer: '_geoSearchTermChanged',
                notify: true,
                reflectToAttribute: true
            },
            computedLatLon: {
                type: Array,
                notify: true,
                reflectToAttribute: true,
                observer: '_debugLatLonChange',
                value: function(){
                    return [-74.50, 40]
                }
            }
        },

        ready: function() {
            console.log('ready');
            //this.$['voice-search'].textContent = this.phrase;
        },
        _geoSearchTermChanged: function(newSearchterm, oldSearchterm) {
            console.log(newSearchterm);
            console.log(oldSearchterm);
            if (newSearchterm) {
                this.$.geocoder.url = "http://search.mapzen.com/v1/search?api_key=mapzen-rqEDCPe&text=" + newSearchterm;
                this.$.geocoder.generateRequest();
            }
         },
        _handleResponse: function(request) {
           response = this.$.geocoder.lastResponse;
           console.log(response.features[0].geometry.coordinates);
           this.computedLatLon = response.features[0].geometry.coordinates;
        },
        _debugLatLonChange: function(newEl, old) {
            console.log('ll change');
            console.log(newEl);
        }
    });
</script>
