<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
<dom-module id="vk-layer">
    <style>
        
    </style>
    <link rel="import" href="../bower_components/polymer/polymer.html" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
    <template>
        
    </template>

    <script type="text/javascript">
        Polymer({
            is: 'vk-layer',
            properties: {
                /**
                * latLon listen from the outside world for a new lat/lon pair (i.e.)
                * a pair of coordinates) and update the map with the result.
                *
                * @property latLon
                * @type Array
                * @default [-74.50, 40]
                */
                dataSet: {
                    type: String,
                    value: ''
                },
                visibility: {
                    type: String,
                    value: 'visible',
                    observer: '_visibilityChanged'
                },
                map: {
                    type: Object,
                    value: function() {return {}},
                }
            },
            attached: function() {
                this.loadDataSet(this.dataSet);
            },

            detached: function() {
                console.log('Detachment not implemented');
            },
            _visibilityChanged: function(newVal, oldVal) {
                if (oldVal != undefined) {
                    this.map.setLayoutProperty(this.dataSet, 'visibility', newVal);
                }
            },
            // TODO this will end up in a separate file.
            getAllLayerConfigs: function () {
                var extendConfig = {
                    'parking_meters': {
                        src: {
                            'data': './parking_meters.geojson',
                            'type': 'geojson'
                        },
                        display: {
                            "type": "symbol",
                            "layout": {
                                "icon-image": "car-15"
                                //https://github.com/mapbox/mapbox-gl-styles/tree/master/sprites/basic-v9/_svg
                            }
                        }
                    },
                    'special_events': {
                        src: {
                            'data': 'https://cityofsandiego-admin.carto.com/api/v2/sql?format=GeoJSON&q=SELECT%20*%20FROM%20special_events_list_datasd%20where%20latitude%20is%20not%20null%20and%20longitude%20is%20not%20null',
                            'type': 'geojson'
                        },
                        display: {
                            "type": "symbol",
                            "layout": {
                                "icon-image": "rocket-15"
                                //https://github.com/mapbox/mapbox-gl-styles/tree/master/sprites/basic-v9/_svg
                            }
                        }
                    },
                    'council_districts': {
                        src: {
                            'data': './council_districts.geojson',
                            'type': 'geojson'
                        },
                        display: {
                            "type": "fill",
                            'paint': {
                                'fill-color': '#088',
                                'fill-opacity': 0.5,
                                'fill-antialias': true,
                                'fill-outline-color': '#000000'
                            }
                        }
                        
                    }
                    // "geojson_url": "https://cityofsandiego-admin.carto.com/api/v2/sql?format=GeoJSON&q=SELECT%20*%20FROM%20special_events_list_datasd%20where%20latitude%20is%20not%20null%20and%20longitude%20is%20not%20null",
                };
                return extendConfig;
            },
            getLayerConfig: function(dataSet) {
                var baseConfig = {
                    src: {'type': 'geojson'},
                    display: {
                        "id": dataSet,
                        "source": dataSet
                    }
                };
                var extendConfig = this.getAllLayerConfigs();
                config = _.merge(baseConfig, extendConfig[dataSet]);
                console.log(config);
                return config;
            },
            loadDataSet: function(dataSet) {
                var config = this.getLayerConfig(dataSet);
                this.map.addSource(dataSet, config.src);
                this.map.addLayer(config.display);
            }
        });
    </script>
</dom-module>