<!--<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>-->
<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="./vk-icon-toggle.html">
<link rel="import" href="./vk-simple-overlay.html">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
<dom-module id="vk-map-controller">
    <script type="text/javascript">
        Polymer({
            is: 'vk-map-controller',
            properties: {
                dataSets: {
                    type: Array,
                    notify: true,
                    reflectToAttribute: true
                },
                // Only receive
                currentMapState: {
                    type: Object,
                    notify: false,
                    reflectToAttribute: true,
                    readOnly: false
                },
                // Downward only flow
                mapConfigRequest: {
                    type: Object,
                    notify: false,
                    reflectToAttribute: true,
                    readOnly: false
                },
                // Upward only flow
                mapConfigOut: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                    readOnly: true,
                }
            },
            attached: function() {
                console.log('map-controller attached');
            },
            observers: [
                '_handleMapConfigRequest(mapConfigRequest*)'
            ],
            _handleMapConfigRequest: function() {
                console.log('request');
                console.log(this.mapConfigRequest)
                console.log('currentMapState');
                console.log(this.currentMapState)
            }

        });
    </script>
</dom-module>
