<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
<dom-module id="vk-map">
    <style>
        #map {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }
    </style>
    <link rel="import" href="../bower_components/polymer/polymer.html" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
    <template>
        <div id="map"></div>
    </template>
</dom-module>

<script type="text/javascript">
    Polymer({
        is: 'vk-map',
        properties: {
            /**
            * latLon listen from the outside world for a new lat/lon pair (i.e.)
            * a pair of coordinates) and update the map with the result.
            *
            * @property latLon
            * @type Array
            * @default [-74.50, 40]
            */
            latLon: {
                type: Array,
                value: function(){
                    return [-117.16, 32.71]
                },
            },

            zoomLevel: {
                type: Number,
                value: 9
            }
        },

        observers: ['_updateMap(latLon.0,latLon.1)'],

        attached: function() {
            mapboxgl.accessToken = 'pk.eyJ1IjoibXJtYWtzaW1pemUiLCJhIjoiRlRwLWwyVSJ9.--Y4RdEJ_5ZuJjSUkx34vQ';
            this.map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
                center: this.latLon, // starting position
                zoom: this.zoomLevel // starting zoom
            });
            this.map.on('load', function () {
               /* var myLayer = L.mapbox.featureLayer()
                .loadURL('http://127.0.0.1:8080/gid.geojson')
                .addTo(this);*/
                
                this.addSource("gid", {
                    "type": "geojson",
                    "data": "../../gid.geojson"
                });

                this.addLayer({
                    "id": "gid",
                    "type": "symbol",
                    "source": "gid",
                    "layout": {
                        "icon-image": "rocket-15"
                    }
                });

            });       
        },

        _updateMap: function() {
            console.log('update');
            if (this.map) {
                this.map.flyTo({
                   center: this.latLon
                });
            }
        }
    });
</script>
