<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
<dom-module id="vk-map">
    <style>
        #map {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }
    </style>
    <link rel="import" href="../bower_components/polymer/polymer.html" />
    <link rel="import" href="./vk-layer.html">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
    <template>
        <div id="map"></div>
    </template>

    <script type="text/javascript">
        Polymer({
            is: 'vk-map',
            properties: {
                /**
                * lonLat listen from the outside world for a new lat/lon pair (i.e.)
                * a pair of coordinates) and update the map with the result.
                *
                * @property lonLat
                * @type Array
                * @default [-74.50, 40]
                */
                // Downward data flow
                mapConfig: {
                    type: Object,
                    notify: false,
                    reflectToAttribute: true,
                    readOnly: false
                },
                // Current map state carries more than just zoom / lon
                currentMapState: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                    readOnly: true
                },
                dataSets: {
                    type: Array,
                    value: function(){
                        return [];
                    },
                },
            },

            observers: [
                //TODO -- these three should be an object
                '_handleMapConfigChange(mapConfig.*)'
            ],
            ready: function() {
                this.addEventListener('layerAdded', this.layerAdded);
            },
            layerAdded: function(e) {
                console.log(e);
            },

            attached: function() {
                console.log('map ready');
                mapboxgl.accessToken = 'pk.eyJ1IjoibXJtYWtzaW1pemUiLCJhIjoiRlRwLWwyVSJ9.--Y4RdEJ_5ZuJjSUkx34vQ';
                var self = this;
                this.map = new mapboxgl.Map({
                    container: 'map', // container id
                    style: 'mapbox://styles/mapbox/dark-v9' //stylesheet location
                });
                this.layerChildren = {};
                // Set current map state
                //this._updateCurrentMapState(lock = false);

                // Bind Events
                this.map.on('movestart', function(){
                    this._updateCurrentMapState(lock = true);
                }.bind(this))

                this.map.on('zoomstart', function(){
                    this._updateCurrentMapState(lock = true);
                }.bind(this))

                this.map.on('moveend', function(){
                    this._updateCurrentMapState(lock = false);
                }.bind(this))

                this.map.on('zoomend', function(){
                    this._updateCurrentMapState(lock = false);
                }.bind(this))

                this.set('mapConfig', {
                    lonLat:[-117.16, 32.71],
                    zoom: 7
                });
            },
           _updateCurrentMapState: function(lock = true) {
               if (this.map && this.map.getZoom() !== 0) {
                   var center = this.map.getCenter();
                   var zoom = this.map.getZoom();
                   mapState = {
                       lonLat: center,
                       zoom: zoom,
                       locked: lock
                   }
                   console.log('new state: ')
                   console.log(mapState);
                   this._setCurrentMapState(mapState);
               }
           },
           _handleMapConfigChange: function() {
                console.log('Map config changed.')
                console.log(this.mapConfig);
                this._redrawMap();
            },
            _redrawMap: function() {
                console.log('redraw map');
                if (this.map && this.mapConfig) {
                    console.log('redraw map exec');
                    this.map.easeTo({
                        center: this.mapConfig.lonLat,
                        zoom: this.mapConfig.zoom
                    });
                }
            },
            /*_updateMapData: function() {
                if (this.map) {
                    console.log('update');
                    if (this.dataSets.length == 0 && this.map) {
                        for (var layer in this.layerChildren) {
                            this.layerChildren[layer].set('visibility', 'none');
                        }
                    }
                    else {
                        console.log(this.dataSets[0]);
                        this.map.getLayer(this.dataSets[0]);
                        for (var i = 0; i < this.dataSets.length; i++) {
                            var dataSet = this.dataSets[i];
                            console.log(dataSet);
                            if (this.layerChildren[dataSet]) {
                                this.layerChildren[dataSet].set('visibility', 'visible');
                            }
                            else {
                                var layerEl = document.createElement("vk-layer");
                                // TODO -- idk if this is necessary.
                                layerEl.setAttribute('map', "{{map}}");
                                layerEl.setAttribute('data-set', dataSet);
                                layerEl.set('map', this.map);
                                this.appendChild(layerEl);
                                this.layerChildren[dataSet] = layerEl;
                            }
                        }
                    }
                }
            }*/
        });
    </script>
</dom-module>
