<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
<dom-module id="vk-map">
    <style>
        #map {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }
    </style>
    <link rel="import" href="../bower_components/polymer/polymer.html" />
    <link rel="import" href="./vk-layer.html">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
    <template>
        <div id="map"></div>
    </template>

    <script type="text/javascript">
        Polymer({
            is: 'vk-map',
            properties: {
                /**
                * latLon listen from the outside world for a new lat/lon pair (i.e.)
                * a pair of coordinates) and update the map with the result.
                *
                * @property latLon
                * @type Array
                * @default [-74.50, 40]
                */
                latLon: {
                    type: Array,
                    value: function(){
                        return [-117.16, 32.71]
                    },
                    notify: true,
                    reflectToAttribute: true,
                },
                /*bounds: {
                    type: Array,
                    value: function(){
                        return [
                            [-117.309797, 32.534871]
                            [-116.905723, 33.114185]
                        ]
                    }
                },*/
                dataSets: {
                    type: Array,
                    value: function(){
                        return [];
                    },
                },
                zoomLevel: {
                    type: Number,
                    // can't figure out why i can't provide default here.
                    value: function(){
                        return 7;
                    },
                    notify: true,
                    reflectToAttribute: true

                },
                map: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                }
            },

            observers: [
                //TODO -- these three should be an object
                '_handleLatLonChanged(latLon.*)',
                // '_updateMap(latLon.*, zoomLevel)',
                '_updateMapData(dataSets.*)'
            ],

            _handleLatLonChanged: function() {
                this.debounce('latLonChanged', function() {
                    this._updateMap();
                })
            },

            ready: function() {
                this.addEventListener('layerAdded', this.layerAdded);
            },
            layerAdded: function(e) {
                console.log(e);
            },

            attached: function() {
                console.log('map ready');
                mapboxgl.accessToken = 'pk.eyJ1IjoibXJtYWtzaW1pemUiLCJhIjoiRlRwLWwyVSJ9.--Y4RdEJ_5ZuJjSUkx34vQ';
                var self = this;
                this.map = new mapboxgl.Map({
                    container: 'map', // container id
                    style: 'mapbox://styles/mapbox/dark-v9', //stylesheet location
                    center: this.latLon, // starting position
                    zoom: this.zoomLevel // starting zoom
                });
                this.map.on('moveend', function(){
                    this._handleMapMoveEnd();
                    // center = self.map.getCenter()
                    // self.latLon = [center.lng, center.lat]
                }.bind(self))
                // In theory this should never happen
                /*this.map.on('zoomend', function() {
                    self.zoomLevel = this.getZoom()
                })*/
                this.layerChildren = {};

            },

            // listeners : [ 'map.moveend' : '_handleFormSubmit' ]

            _handleMapMoveEnd: function() {
                if (this.map) {
                    this.debounce('handleMapMoveEnd', function(){
                        var mapCenter = this.map.getCenter();
                        if (mapCenter.lat && mapCenter.lng && (typeof mapCenter.lat === "number") && (typeof mapCenter.lng === "number")) {
                            this.set('latLon', [mapCenter.lng, mapCenter.lat]);
                        }
                    }, 100);
                }
            },

            _updateMap: function() {
                // If this.latLon is different from map, sync map
                // If this.zoomLevel is different from map, sync map
                if (this.map) {
                    var center = this.map.getCenter();
                    var mapLat = center.lat;
                    var mapLon = center.lng;
                    var modelLat = this.latLon[1];
                    var modelLon = this.latLon[0];

                    if ((mapLat !== modelLat) || (mapLon !== modelLon)) {
                        this._redrawMap();
                    }
                }
            },

            _redrawMap: function() {
                if (this.map && this.latLon) {

                    debugger;
                    console.log('update map');
                    console.log(this.latLon);
                    this.map.flyTo({
                        center: this.latLon,
                        zoom: this.zoomLevel
                    });

                }
            },

            _updateMapData: function() {
                if (this.map) {
                    console.log('update');
                    if (this.dataSets.length == 0 && this.map) {
                        for (var layer in this.layerChildren) {
                            this.layerChildren[layer].set('visibility', 'none');
                        }
                    }
                    else {
                        console.log(this.dataSets[0]);
                        this.map.getLayer(this.dataSets[0]);
                        for (var i = 0; i < this.dataSets.length; i++) {
                            var dataSet = this.dataSets[i];
                            console.log(dataSet);
                            if (this.layerChildren[dataSet]) {
                                this.layerChildren[dataSet].set('visibility', 'visible');
                            }
                            else {
                                var layerEl = document.createElement("vk-layer");
                                // TODO -- idk if this is necessary.
                                layerEl.setAttribute('map', "{{map}}");
                                layerEl.setAttribute('data-set', dataSet);
                                layerEl.set('map', this.map);
                                this.appendChild(layerEl);
                                this.layerChildren[dataSet] = layerEl;
                            }
                        }
                    }
                }
            }
        });
    </script>
</dom-module>
