<link rel="import" href="../bower_components/app-route/app-location.html" />
<dom-module id="vk-router">
    <template>
        <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>
    </template>

    <script type="text/javascript">
        Polymer({
            is: 'vk-router',
            properties: {
                route: {
                    type: Object
                },
                queryParams: {
                    type: Object,
                    value: function() {
                        return {};
                    }
                },
                appOptions: {
                    type: Object,
                    notify: true
                }
            },
            observers: ['_computeAppOptions(queryParams, queryParams.*)'],
            _computeAppOptions: function(queryParams) {
                this.debounce('compute-app-options', function() {
                    var options = {};
                    var syncId = this._parseSyncId(queryParams.syncId);
                    Object.assign(options, {
                        canSubscribe: queryParams.controller ? false : true,
                        canPublish: queryParams.controller ? true : false,
                        syncId: syncId || 1
                    });
                    this.set('appOptions', {});
                    this.set('appOptions', options);
                }, 50);
            },
            _parseSyncId: function(rawId) {
                if (!rawId || typeof rawId !== 'string') return;
                var syncId = rawId.replace(/[^0-9]/g, '')
                return parseInt(syncId);
            }
        });
    </script>
</dom-module>
