<!--<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>-->
<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="./vk-icon-toggle.html">
<link rel="import" href="./vk-simple-overlay.html">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
<dom-module id="vk-remote-control">
    <script type="text/javascript">
        Polymer({
            is: 'vk-remote-control',
            properties: {
                dataSets: {
                    type: Array,
                    notify: true,
                    reflectToAttribute: true
                },
                // Downward flow
                mapConfig: {
                    type: Object,
                    notify: false,
                    reflectToAttribute: true,
                    readOnly: false
                },
                mapConfigRequest: {
                    type: Object,
                    notify: true,
                    readOnly: true,
                    reflectToAttribute: true
                }
            },
            observers: [
                '_handleMapConfigChanged(mapConfig.*)'
            ],
            attached: function() {
                console.log('ready');
                this.socket = io('http://localhost:3000');
                //this.socket = io('http://0158e1d3.ngrok.io');
                this.socket.on('connect', function(){
                    console.log('connected');
                    this.socket.on('update_map', function(data){
                      this._handleSocketMsg(data)
                    }.bind(this));
                }.bind(this));
            },
            _handleMapConfigChanged: function() {
                console.log('rc mapconfig change')
                console.log(this.id);
                if (this.mapConfig[this.id]) {
                    this._emitMapConfigChanged();
                }

            },
            _handleSocketMsg: function(data) {
                console.log('rc socket msg received');
                request = {};
                request[this.id] = data.mapConfig;
                this._setMapConfigRequest(request);
            },
            _emitMapConfigChanged: function() {
                if (this.socket) {
                    console.log('emit control');
                    this.socket.emit('update_map', {
                        'mapConfig': this.mapConfig[this.id]
                    });
                }
            }
        });
    </script>
</dom-module>
