<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="./vk-icon-toggle.html">
<dom-module id="vk-voice-search">
    <style>
      :host {
        --icon-toggle-color: lightgrey;
        --icon-toggle-outline-color: black;
        --icon-toggle-pressed-color: red;        
        font-family: sans-serif;
      };
    </style>
    <template>
        <div id="voice-search">[[phrase]]</div>
        <input id="voice-search" value="{{phrase::change}}">
        <!--<vk-icon-toggle toggle-icon="star" active={{active}}></vk-icon-toggle>-->
    </template>
</dom-module>

<script type="text/javascript">
    Polymer({
        is: 'vk-voice-search',
        properties: {
          active: {
              type: Boolean,
              value: false,
              reflectToAttribute: true
          },
        /**
        * phrase broadcasts the current active phrase.
        *
        * @property phrase
        * @type String
        * @default ""
        */
        phrase: {
            type: String,
            value: "Say something..."
        }
        },

        ready: function() {
            console.log('ready');
            this.$['voice-search'].textContent = this.phrase;
        }
    });
</script>
