<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="./vk-icon-toggle.html">
<dom-module id="vk-voice-recognition">
    <style>
        vk-icon-toggle#vs-voice-search {
          top:45px;
          right: 10px;
          position: absolute;
        }
    </style>
    <template>
        <vk-icon-toggle 
            toggle-icon="settings-voice" 
            id="vs-voice-search" 
            active={{listening}} 
            on-click="start">
        </vk-icon-toggle>
    </template>

    <script type="text/javascript">
        Polymer({
            is: 'vk-voice-recognition',
            properties: {
                listening: {
                    type: Boolean,
                    notify: true,
                    reflectToAttribute: true,
                    value: false
                },
                phrase: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true,
                    value: "",
                    observer: '_phraseChanged'
                }
            },

            observers: [
            ],
            ready: function() {
                console.log(annyang);
            },
            listeners: {
            },
            attached: function() {
                if (annyang) {
                    annyang.addCallback('result', this._onResult, this);
                }
            },
            start: function() {
                annyang.start({ autoRestart: false, continuous: false });
                this.listening = true;
            },
            _phraseChanged: function() {
                //this.$.speaker.speak(); 
            },
            _onResult: function(res) {
                console.log(res[0]);
                this.set('listening', false);
                this.set('phrase', res[0]);
            }
        });

    </script>
</dom-module>